## .env
.env

## c program 
c/*
c/*.o
!c/**/
!c/**/*.c
!c/**/lib/
!c/**/lib/*.a
!c/**/lib/*.h
!c/**/Makefile*

##Java
**/*.class

## Scala
scala/**/project
scala/**/target

##Maven
maven/**/target

##nodejs
node/**/node_modules
node/**/package-lock.json
node/**/.serverless


## python
.idea
secret.json
python/**/.venv
python/**/__pycache__/
**/secret.json

## mongodb
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/**/node_modules
oracle/**/package-lock.json

## docker 
docker/mysql/mysql*
docker/mongodb/mongo*

# project1
project1


**/node_modules
**/package*